<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MarvelAgent</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2C6F33F7224B49D17C43326B0CC1808DEA242246</string>
				<key>dateExpires</key>
				<string>1/2/27</string>
				<key>type</key>
				<string>Cloud Managed Developer ID Application</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C6F33F7224B49D17C43326B0CC1808DEA242246</string>
						<key>dateExpires</key>
						<string>1/2/27</string>
						<key>type</key>
						<string>Cloud Managed Developer ID Application</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>com.apple.security.app-sandbox</key>
						<true/>
						<key>com.apple.security.files.user-selected.read-only</key>
						<true/>
					</dict>
					<key>name</key>
					<string>AutoLauncher.app</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UWCRT7HLJN</string>
						<key>name</key>
						<string>Pedro Martin Gomez</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-only</key>
				<true/>
				<key>com.apple.security.network.client</key>
				<true/>
			</dict>
			<key>name</key>
			<string>MarvelAgent.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>UWCRT7HLJN</string>
				<key>name</key>
				<string>Pedro Martin Gomez</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
